body{
    
}
h1, h2{
    color: black;
    text-align: center;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    background: #4b4849;
}

div.slider{
    height: 400px;
    margin: auto;
    text-align: center;
    width: 100%;
    background: black;
}
#slider{
    width: 90%;
    height: 400px;
    margin: auto;
}
@media screen and (max-width: 1200px){
div.slider{

    height: 300px;
}
#slider{
    width: 90%;
    height: 300px;
}
}
@media screen and (max-width: 870px){
    div.slider{
        height: 250px;
    }
    #slider{
        width: 90%;
        height: 250px;
    }
}
@media screen and (max-width: 650px){
    div.slider{
        height: 220px;
    }
    #slider{
        width: 90%;
        height: 220px;
    }
} 
@media screen and (max-width: 600px){
    div.slider{
        display: none;
    }
    
}    
.makes{
    width: 90%;
    margin: auto;
    text-align: center;

}
.makes img{
    width: 200px;
    height: 110px;
    margin: 20px;
}
footer{
    height: 200px;
    background: #4b4849;
}
h3{
    color: white;
    
    text-align: center;
}